{% extends 'base.html' %}

{% block title %}Kirish{% endblock title %}

{% block content %}
<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel="stylesheet" href="{% static './style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static './style.css' %}">
        <title>Sign in</title>
    </head>

    <body>
        <div class="main main2">
            <h2 style="text-align:center;">Kirish</h2>
            <form method="post">{% csrf_token %} <p style="position:absolute2;left:200px;">{{ form.as_p }}</p>
                <button class="btn btn-outline-success me-2" type="sumbit" style="position:absolute;left:640px;">Kirish</button>
            </form>     
                
        </div>
     
    </body>

</html>      
{% endblock content %}
